*{
    margin:0;
    
}
li{
    margin-right: 10px;
    color: white;
}

ul {
    list-style-type: none;
    color: white;
  }

.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #21222A;
    justify-content : flex-end;
    color:white;
}

.nav-element{
    display: flex;
    flex-direction: row;
    padding: 30px 25px;
    color: white;
}
body {
    
  }